/* Estilos generales */
html{
  background-color: #f2f2f2;/* 2.- Aplique un color de fondo de #f2f2f2 */
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	text-align: right;
}
header h1{
  background-color: #f4f1bb;
  font-size: 50px;
  text-align: center;
  margin: 0px;
  padding: 30px;
}

header ul {
  background-color: #f4f1bb;
	list-style: none;
	margin: 0;
	padding: 0;
}

header ul li {
	display: contents;
	margin-left: 10px;
  padding: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 3px 3px;
	border-radius: 5px;
	color: #333;
}

section h1{
  font-size: 50px;
  margin-bottom: 0px;
}
section h2{
  font-size: 20px;
  margin-top: 0px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

/* 1.- imagen debe estar centrada y tener un ancho máximo de 500 píxeles */
.centered-img {
	display: block;
	margin: 0 auto;
	max-width: 500px;
}

.parrafot_m{
	font-size: 36px; /* 1.- párrafo debe tener un tamaño de fuente de 16 píxeles y un margen superior e inferior de 20 píxeles. */ 
	margin: 20px 0;
}

a {
	text-decoration: none;
}

/* Estilos de la sección de cuadrícula */
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px; /* 3.- Cree una cuadrícula de cuatro columnas utilizando el sistema de cuadrícula de Bootstrap o con CSS. 
                      Cada columna debe contener un cuadro con una imagen y un título. Los cuadros deben estar alineados horizontalmente y tener un margen inferior de 30 píxeles. */
}

.grid-item {
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
}

.grid-item img {
	width: 100%;
}

.grid-item h3 {
	margin-top: 10px;
}

.box {
	text-align: center;
	margin-bottom: 30px;
}


.box img {
	width: 60%;
}

.box h3 {
	margin-top: 10px;
}

.box p {
	font-size: px; /* 2.- 2.	Cree una hoja de estilo CSS3 que tenga un selector para todas las etiquetas de párrafo en la página HTML5 */ /* 2.- Aplique un tamaño de fuente de 16 píxeles.  */
}

.justificado {
  text-align: justify;/* 2.- texto esté justificado y tenga un margen izquierdo y derecho de 30 píxeles. */
  margin-left: 30px;
  margin-right: 30px;
}

/* Estilos del formulario */
/* 4.-	Cree un formulario de registro de usuario utilizando Bootstrap o CSS. El formulario debe tener campos para el nombre, 
la dirección de correo electrónico y la contraseña. El nombre de usuario y la contraseña deben tener campos de entrada de tipo "password". 
El botón de enviar debe tener un color de fondo verde (#28a745) y un ancho del 100%. */
form {
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 5px;
	font-size: 16px;
}

button[type="submit"] {
	background-color: #28a745;
	color: #fff;
	border: none;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

/* Estilos del footer */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

footer a {
	margin-right: 10px;
}
/* 5.-	Cree una consulta de medios de estilo (@media) en CSS3 que oculte una imagen cuando el ancho de la pantalla sea menor que 768 píxeles. 
Cuando el ancho de la pantalla sea mayor que 768 píxeles, la imagen debe tener un ancho máximo de 500 píxeles y estar centrada. */
@media screen and (max-width: 768px) {
	.centered-img {
		display: none;
	}

	.container {
		text-align: center;
	}

	.grid-item {
		width: 50%;
	}

	footer span {
		display: block;
		margin-top: 10px;
	}
}
